language: java

jdk:
  - oraclejdk8

cache:
  directories:
    - $HOME/.m2

notifications:
  email:
    recipients:
      - akamen@blackducksoftware.com
      - ekerwin@blackducksoftware.com

install: true
script:
  ./gradlew clean build
  
after_success:
  - bash <(curl -s https://copilot.blackducksoftware.com/ci/travis/scripts/upload)
